@use "../tools";

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px 0;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0px 6px 16px 0px rgba(27, 91, 100, 0.25);
    background-color: var(--color-white);
}

.card section {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.card p{
    text-align:justify;
    font-size: 14px;
}
.card h2{
    font-size: 18px;
}

.card img {
    border-radius: 2px;
    width: 100%;
    height: 220px;
}

.card header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px 0;
}

.author {
    display: flex;
    gap: 0 12px;
    align-items: center;
}

.author img {
    width: 100%;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
}

.card footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author span {
    color: var(--color-black-pearl-900);
}

.help-text {
    color: var(--color-black-pearl-400);
}


@include tools.desktop {

    
    .card:nth-child(4n) {
        background: var(--color-aquarius-100);
        flex-direction: row;
        
        
        grid-column: 1/4;
        padding: 48px;
        gap: 48px;
        &>img {
            align-self: center;
            max-width: 560px;
            height: 100%;
        }
        &>section{
            gap: 12px 0;
            justify-content: space-around;
            
        }
    }
    .card:nth-child(8n){
        flex-direction: row-reverse;
    }
}